$section_padding: 10rem;

@mixin clearfix() {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

/**** グローバル設定 ****/
html , body {
	margin: 0;
	padding: 0;
}
body {
	min-height: 200vh;
	font-size: 1.2rem;
	font-family: Meiryo, 'Hiragino Kaku Gothic ProN', sans-serif;
}
img {
	border: none;
}

/**** ヘッダ ****/
header {
	position: fixed;
	top: 0;
	z-index: 100;

	background-color: rgb( 50, 50, 50 );
	color: white;

	display: flex;
	width: 100%;
	height: 3rem;
	line-height: 3rem;

	> span {
		flex-basis: 50%;
		flex-grow: 1;
		flex-shrink: 1;

		padding: 0 2%;

		&.album_title {
			text-align: left;
		}

		&.tweet_intent {
			text-align: right;

			padding: 0 2%;

			> a {
				color: white;
				text-decoration: none;

				display: inline-block;
			}
		}
	}
}


/**** トップ ****/
section#top {

	background-color: rgba( 255, 144, 0, 0.5 );
	height: 100vh;
}


/**** デモ ****/
section#demo {

	position: relative;

	> iframe {
		z-index: 1;
	}

	> div.cover {
		z-index: 2;
		position: absolute;
		top: 0;
		
		display: none;
		width: 100%;
		background-color: white;
		text-align: center;

		cursor: pointer;

		&:hover {
			color: rgba( 0, 0, 0, 0.5 );
		}

		> span {
			display: none;
			vertical-align: middle;
		}
	}
}


/**** 詳細 ****/
section#detail {

	padding: $section_padding 0;
	background-color: rgba( 255, 144, 0, 1 );
	color: white;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;

	> * {
		width: 95%;
		max-width: 30rem;
		margin: 1rem 2%;
	}

	> ol#track_list {
		box-sizing: border-box;

		> li {
			margin: 2rem 0;

			@include clearfix();

			> span {
				padding-left: 1rem;
				white-space: nowrap;

				&:last-child {
					float: right;
				}
			}
		}
	}
}


/**** インフォメーション ****/
section#info {

	padding: $section_padding 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: flex-start;

	> article {
		flex-basis: 20rem;
		flex-shrink: 1;
		flex-grow: 1;
		width: 95%;
		max-width: 20rem;
		margin: 1rem 2%;

		border: 1px solid rgb( 50, 50, 50 );
		border-radius: 3px;
		padding: 1rem;

		line-height: 2rem;

		color: rgb( 50, 50, 50 );

		a {
			color: rgb( 50, 50, 50 );
			&:hover {
				text-decoration: none;
			}
		}
	}

	@include clearfix();
}


/**** ジャケットダウンロード ****/
section#jacket {

	padding: $section_padding 0;
	background-color: rgb( 255, 144, 0 );

	width: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;

	> img {
		width: 100%;
		max-width: 300px;
		margin: 1rem;
	}

	> p {
		margin: 1rem;
		padding: 0;

		> a {
			color: white;
			text-decoration: none;

			display: block;
			padding: 1rem;
			border: 1px solid white;
			border-radius: 3px;
			transition: 0.2s;

			white-space: nowrap;

			&:hover {
				box-shadow: 0 0 10px 4px rgba( 255, 255, 255, 0.4) inset;
			}
		}
	}
}


/**** クレジット ****/
section#credit {

	padding: $section_padding 0;
	background-color: rgb( 50, 50, 50 );

	color: white;

	> dl {
		width: 95%;
		max-width: 40rem;
		margin: 0 auto;

		> dt {
			border-bottom: 1px solid lightgray;
		}

		> dd {
			> ul {
				list-style: none;
				padding: 0;

				> li {
					display: block;
					width: 100%;

					@include clearfix();

					> span {
						display: inline-block;
						padding: 1rem;
						white-space: nowrap;

						&.link {
							float: right;

							> a {
								color: lightgray;

								&:hover {
									text-decoration: none;
								}
							}
						}
					}
				}
			}
		}
	}

	> div.root_link {
		
		margin-top: $section_padding;
		text-align: center;

		a {
			color: white;
			text-decoration: none;
		}
	}
}


/**** フッタ ****/
footer {

	background-color: rgb( 50, 50, 50 );
	text-align: center;
	color: darkgray;
	font-size: 0.8rem;
	line-height: 2rem;

	> a {
		color: darkgray;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}